# Ignore private documents
documents/*.pdf

# Allow public CV files
!documents/cv_johnprice_osagie_en.pdf
!documents/cv_johnprice_osagie_it.pdf
!documents/cv_johnprice_osagie_fr.pdf
!documents/profile.png

# Ignore tmp folder with templates
documents/tmp/

# Node
node_modules/
package-lock.json
package.json

# Temp files
*.log
